.navbar {
    background-color: #4CAF50;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #45a049;
}

/* Header */
.header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 2.5rem 1rem;
}

.header-content h1 {
    font-size: 2.5rem;
}

.header-content p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.mac{
    text-align: center;
}

/* Kevin's Resume Section */
.kevin {
    text-align: center;
    margin-top: 2rem;
}

.kevin img.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.kevin h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.kevin p {
    font-size: 1.1rem;
    margin: 0.5rem 0;

}

/*Charles Resume Section*/

.charles{
    text-align: center;
    margin-top: 2rem;
}
.charles img.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.charles h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.charles p {
    font-size: 1.1rem;
    margin: 0.5rem 0;

}