.navbar {
    background-color: #4CAF50;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #45a049;
}

/* Header */
.header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 2.5rem 1rem;
}

.header-content h1 {
    font-size: 2.5rem;
}

.header-content p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.mac{
    text-align: center;
}

body, h1, h2, p, ul {

    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial,  sans-serif;

}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

header h1 {
    font-size: 2em;
    color: #2c3e50;
}

header p {
    font-size: 0.9em;
    color: #7f8c8d;

}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #344953;

}
p{
    margin-bottom: 15px;
    font-size: 1,5em;
    color: #333;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 8px;
}

.skills ul {
    padding-left: 15px;
}

.objective, .education, .skills {
    margin-top: 20px;
    padding: 15px;
    background-color: #ecf0f1;
    border-left: 5px solid #3498db;
    border-radius: 5px;
}
